#include "../personagens-hpp/{{ name | to_class }}.hpp"

{{ name | to_class }}::{{ name | to_class }}(int id, string nome, int vida, ArmaAtaque* armaAtaque, ArmaDefesa* armaDefesa)
:Personagem(id, nome, vida, armaAtaque, armaDefesa){

}

int {{ name | to_class }}::gerarAtaque()
{
    return armaAtaque->gerarForcaAtaque();
}

int {{ name | to_class }}::criarDefesa()
{
    return armaDefesa->getResistencia();
}

string {{ name | to_class }}::pegarDescricao() 
{
    return "{{ frase }}";
}
